<!DOCTYPE html>
<html>
<head>
    <title>日期选择</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function() {
            $("#datepicker").datepicker({
                dateFormat: "yy-mm-dd",
                onSelect: function(dateText) {
                    alert("您选择的日期是：" + dateText);
                }
            });
        });
    </script>
</head>
<body>
    <h1>日期选择示例</h1>
    <p>请选择一个日期：</p>
    <input type="text" id="datepicker">
</body>
</html>
