<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>放养管理系统</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/dist/css/bootstrap.min.css">
    <link  rel="stylesheet" type="text/css" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!--布局容器   第一行，禾丰图标-->
    <div class="container-fluid">
        <!--行容器-->
        <div class="row" style="height: 80px">
            <!--列元素-->
            <div class="col-md-7" style="height:50px"><img style="height: 60px;margin-top: 10px" src="../static/images/禾丰股份.png"/></div>
            <div class="col-md-5" style="margin-top: 10px">
                <div class="h2">电话：173-5653-0931</div>
            </div>
        </div>
    </div>
    <!-- 第二行，标题行-->
    <div class="container-fluid" style="background-color:#E6E6E6">
        <div class="row">
            <div class="col-md-2 col-md-offset-1"><h4>首页</h4></div>
            <div class="col-md-3 "><h4>关于我们</h4></div>
            <div class="col-md-3 "><h4>检测项目</h4></div>
            <div class="col-md-3 "><h4><a style="text-decoration: none;color: #333" href="https://www.jiancezhongxin.top/admin">登录</a></h4></div>

        </div>
    </div>
<!-- 第三行，图片-->
    <div class="container-fluid">
        <img style="height: 428px" src="../static/images/检测中心01.jpg">
    </div>
    <!-- 第四行，标题-->
    <div style="height: 60px"></div>
    <div class="container-fluid">
        <div class="row" style="height: 60px">
            <div class='col-md-5' style="font-size: 36px;color: #323232;font-weight: bold;line-height: 40px"></div>
            <div class='col-md-2' style="font-size: 36px;color: #323232;font-weight: bold;line-height: 40px">检测项目</div>
            <div class='col-md-5' style="font-size: 36px;color: #323232;font-weight: bold;line-height: 40px"></div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div style="background: url('../static/images/分子生物学.png') no-repeat;width: 300px;height: 190px;text-align: center">
                    <p style="color: white;font-size: 20px;line-height: 160px">荧光定量PCR检测</p></div>
            </div>
            <div class="col-md-4">
                <div style="background: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fp0.ifengimg.com%2Fpmop%2F2017%2F0828%2F9E390A439741DB9A4AFF143AEC99A515462A6A55_size33_w640_h467.jpeg&refer=http%3A%2F%2Fp0.ifengimg.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1651971364&t=01dc63da48d47e52ac9444388a8d8525') no-repeat;width: 300px;height: 190px;text-align: center">
                    <p style="color: white;font-size: 20px;line-height: 160px">血清学检测</p></div>
            </div>
            <div class="col-md-4 ">

                    <div style="background: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fi0.hdslb.com%2Fbfs%2Farticle%2Fa9f0d0130a8b3c38f5e76374524e3a5940da99b3.jpg&refer=http%3A%2F%2Fi0.hdslb.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1651971863&t=90c40d3126726ad8f07178238df92e53') no-repeat;width: 300px;height: 190px;text-align: center">
                    <p style="color: white;font-size: 20px;line-height: 160px">细菌学检测</p></div>
        </div>

    </div>
    </div>
    <!--检测流程-->
    <div style="height: 60px"></div>
    <div class="container-fluid">
        <div class="row" style="height: 60px">
            <div class='col-md-5' style="font-size: 36px;color: #323232;font-weight: bold;line-height: 40px"></div>
            <div class='col-md-2' style="font-size: 36px;color: #323232;font-weight: bold;line-height: 40px">检测流程</div>
            <div class='col-md-5' style="font-size: 36px;color: #323232;font-weight: bold;line-height: 40px"></div>
        </div>

    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row">
                <!--电话沟通-->

                <div class="col-md-2">
                    <a class="btn btn-lg btn-success" href="#">
                        <i class="fa fa-comment-o fa-3x" aria-hidden="true"></i>电话沟通
                    </a>
                </div>

                 <!--横线-->
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-arrow-right" style="color: #bbbbbb;font-size: 75px"></span>

                </div>
                <!--送检样品-->
                <div class="col-md-2">
                    <a class="btn btn-lg btn-success" href="#">
                        <i class="fa fa-archive fa-3x" aria-hidden="true"></i>送检样品
                    </a>
                </div>
                <!--横线-->
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-arrow-right" style="color: #bbbbbb;font-size: 75px"></span>

                </div>
                <!--实验检测-->
                <div class="col-md-2">
                    <a class="btn btn-lg btn-success" href="#">
                        <i class="fa fa-flask fa-3x" aria-hidden="true"></i>实验检测
                    </a>
                </div>
                   <!--横线-->
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-arrow-right" style="color: #bbbbbb;font-size: 75px"></span>

                </div>
                   <!--出具报告-->
                <div class="col-md-2">
                    <a class="btn btn-lg btn-success" href="#">
                        <i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>出具报告
                    </a>
                </div>

            </div>
          </div>
        </div>

        </div>
    </div>
    <div style="height: 100px"></div>
    <div class="container-fluid" style="height: 200px;background: #E6E6E6;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2"><h4 style="line-height: 80px">实验室概况</h4></div>
        <div class="col-md-2"><h4 style="line-height: 80px">人才培养</h4></div>
        <div class="col-md-2"><h4 style="line-height: 80px">科学研究</h4></div>
        <div class="col-md-2"><h4 style="line-height: 80px">联系我们</h4></div>
        <div class="col-md-2"><h4 style="line-height: 80px"><a style="text-decoration: none;color: #333" href="http://www.wellhope-ag.com/">禾丰介绍</a></h4></div>

    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><h4>Address 安徽省亳州市利辛县城关镇食品产业园</h4></div>

    </div>
        <a href="https://beian.miit.gov.cn/" target="_blank">豫ICP备2022009170</a>
    </div>


</body>
</html>